.newsletterBackground {
    width: 100%;
    background-image: url(../../assets/images/SimulatorImage.png);
    background-size: 103%;
    background-repeat: no-repeat;
    background-position-y: center;
    height: 475px;
    margin-top: 5%;
}

@media screen and (max-width: 900px) {

    .newsletterBackground {
        height: 475px;
        background-size: 200%;
        background-repeat:no-repeat;
        background-position: center;
    }

    .newsletter_separationLine_box {
        max-width: 90%;
        overflow: hidden;
    }

}