.header_box {
    height: 680px;
}

.header_background_layout::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    top: -19px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
    height: 680px;
}

.header_background_image {
    top: -180px;
    width: 100%;
    height: 840px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    z-index: -2;
    transform: scale(1);
}

.mobileBurgerMenu {
    content: "";
    display: none;
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 200vh;
}

.mobileBurgerMenuOverlay {
    z-index: 4;
    position: absolute;
    background-color: #e7effe;
    width: 55%;
    height: 200vh;
    left: 0;
}

.CloseBurgerMenuIcon {
    position: absolute;
    top: 1%;
    right: 10%;
}

.header_hero_container {
    margin-left: 9%;
    color: #e7effe;
    max-width: 39%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_content {
    max-width: 100%;
    margin-top: 5%;
}

.header_concept_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
    margin-bottom: -1.5%;
}

.concept_section_link {
    margin-left: 3%!important;
}

.separation_line {
    max-width: 107%;
    
}

@media screen and (max-width: 1450px) {

    .header_box {
        height: 500px;
    }

    .header_background_image {
        top: -140px;
        height: 620px;
        
    }

    .header_background_layout::before {
        height: 500px;
    }

}

@media screen and (max-width: 700px) {

    .header_box {
        height: 400px;
    }

    .header_background_layout::before {
        height: 400px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    }

    .header_background_image {
        top: 0px;
        height: 380px!important;
        object-fit: cover;
    }

    .header_hero_container {
        align-items: flex-start;
        max-width: 92%;
        height: 100%;
        margin-left: 5%;
    }

    .header_title {
        width: 90%;
    }

    .header_content {
        max-width: 90%;
        opacity: 0.8;
    }

    .header_separationLine_box {
        max-width: 100%;
        overflow: hidden;
    }

}

