.company_footer {
    color: #3C4044;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    padding-bottom: 2%;
}

@media screen and (max-width: 1200px) {

    .company_footer {
        margin-top: 30%;
    }

}

@media screen and (max-width: 900px) {

    .company_footer {
        margin-top: 40%;
    }

}