.concept_section_container {
    margin-top: 4%;
    flex-direction: row;
    justify-content: center;

}

.concept_image {
    max-width:95%;
    overflow: hidden;
    border-radius: 40px;
    margin-right: 10%;
}

.image {
    width: 100%;
    border-radius: 40px;
    height: 600px;
    object-fit: cover;
    margin-top: 4%;
}

.concept_text {
    margin-top: 3%;
}

.concept_information_button_div {
    margin-top: 9%;
}

.concept_information_button{
    background-color: #3c4044;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 42px 10px 42px;
}

@media screen and (max-width: 1200px) {

    .concept_section_container {
        flex-direction: column-reverse!important;
    }

    .concept_image {
        max-width:95%;
        overflow: hidden;
        border-radius: 20px;
        margin-right: 0%;
    }

    .image {
        width: 100%;
        border-radius: 20px;
        height: 63%;
        object-fit: cover;
        margin-top: 8%;
    }
    
    .concept_separationLine_box {
        max-width: 92%;
        overflow: hidden;
    }
    
    .concept_text {
        max-width: 85%;
        margin-right: 1%;
        text-align: center;
    }

    .concept_information_button{
        margin-left: -1%;
    }
}