.OfferImage {
    max-width: 100%;
    clip-path: polygon(0 20%, 100% 20%, 100% 72%, 0 79%);
    margin-top: -13%;
}

.leftArrow {
    rotate: 180deg;
}

.offer_container {
    margin-top: 7%;
}

.offer_content_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    height: 128px;
}

.text_box_container {
    max-width: 40%;
}

@media screen and (max-width: 1200px) {

    .OfferImage {
        max-width: 100%;
        clip-path: polygon(0 0%, 100% 0%, 100% 82%, 0 89%);
        margin-top: -3%;
    }

    .offer_container {
        margin-top: -5%;
    }

    .offer_separationLine_box {
        max-width: 92%;
        overflow: hidden;
    }

    .offer_content_container {
        height: unset;
        justify-content: unset;
    }

    .text_box_container {
        max-width: 95%;
        margin-top: 3%;
    }

}
